body{
	background: F1DFDB;
  font-family: fantasy;
}
#container{
  width: 80%;
  margin: auto;
  border: 2px solid black;
}

header{
width: 80%;
margin: auto;
height: 100px;
}
header img{
  float:  right;
  border: 3px solid black;
  border-radius: 4px;
  padding: 0px;
  width: 120px;
}
footer{
  background: black;
  color:  white;
  text-align: center;
  height: 50px;
  line-height: 50px;

}
#content{
  width: 70%;
  height: 500px;
  margin: auto;
  border:  2px solid black;
}
#date{
  width: 80%;
  margin: auto;
}
#date img{
  float:  right;
  border: 2px solid lightpink;
  width: 120px;
}
#canvas{
  width: 700px;
  height: 500px;
}